body {
    font-family: inter;
    padding-bottom: 30px;
}
.patch ul li {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.post ul li {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.delete ul li {
    display: flex;
    flex-direction: column;
    width: 40%;
}