:root {
    /* Colors */
    /* Primary Palette */
    --color-primary: #ff2253;
    --color-primary-50: #ffe9ee;
    --color-secondary: #4aca94;
    --color-secondary-50: #e4f7ef;
    /* Product Palette */
    --Product-1: #eef6ff;
    --Product-2: #fff7f4;
    --Product-3: #ffe4ea;
    --Product-4: #f3eef5;
    /* Grey Scale Pallete */
    --grey-1: #f8f9fa;
    --grey-2: #e9ecef;
    --grey-3: #868e96;
    --grey-4: #212529;

    /* Font */
    --Poppins: "Poppins", sans-serif;

    --16px-size: 16px;
    --14px-size: 14px;
    --12px-size: 12px;
    --10px-size: 10px;

    --Bold-weight: bold;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--Poppins);
    padding-bottom: 20px;
}

header {
    z-index: 1;
    width: 100%;
    position: fixed;
    padding-bottom: 10px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full__container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    min-width: 300px;
    width: 90%;
}

.header__container {
    width: 90%;
    margin: auto;
    min-width: 300px;
    position: relative;
}

.container--barraPesquisaProduto {
    padding: 7px;
    width: 300px;
    height: 47px;
    max-height: 47px;
    color: var(--grey-3);
    border: var(--grey-1);
    border-radius: 30px;
    background-color: var(--grey-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.barraPesquisaProduto {
    border: none;
    font-size: 14px;
    padding-left: 20px;
    border-radius: 30px;
    background-color: transparent;
}

.barraPesquisaProduto:focus {
    height: 45px;
    border: 1px solid transparent;
    padding-right: 40px;
}

.searchBtn {
    left: 246px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--color-primary-50);
    position: absolute;
}

.searchBtn:hover {
    background-color: var(--color-primary);
}


.fa-search {
    color: var(--color-primary);
}

.fa-search:hover {
    color: var(--color-primary-50)
}

.logo-container {
    margin-bottom: 10px;
}

.logo-container img {
    width: 50px;
    margin-left: 10px;
}

.logoTxt {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

#kenzie {
    font-size: 22px;
}

#food {
    font-size: 16px;
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.carrinho {
    width: 300px;
}

.carrinho__div__titulo {
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px 10px 0 0;
    background-color: var(--color-primary);
}

.carrinho__div__titulo img {
    height: 20px;
}

.carrinho__div__titulo h2 {
    color: #fff;
    margin-left: 20px;
    font-weight: bold;
    display: inline-block;
}

.carrinho__div__produtos {
    height: 400px;
    margin-top: 6px;
    overflow-x: hidden;
    overflow-y: visible;
}

.carrinho__div__carrinho__vazio {
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--grey-3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grey-1);
}

.carrinho__div__carrinho__vazio span {
    font-size: 18px;
    padding-top: 25px;
    font-weight: bold;
    padding-bottom: 25px;
}

.carrinho__div__carrinho__vazio p {
    width: 200px;
    font-size: 15px;
}

.produto__card__carrinho {
    display: flex;
    padding: 18px 10px;
}

.produto__card__carrinho img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 10px;
}

.produto__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-left: 12px;
}

.produto__card__info h2 {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    font-size: 16px;
}

.produto__card__info span {
    font-size: 12px;
    color: var(--grey-3);
}

.produto__card__carrinho button {
    width: 26px;
    height: 26px;
    margin-left: auto;
    border-radius: 5px;
    justify-self: flex-end;
    background-color: var(--grey-1);
}

.produto__card__carrinho button img {
    width: 10px;
    height: 12px;
}

.carrinho__div__valor {
    height: 20px;
    font-size: 16px;
    font-weight: bold;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carrinho__div__valor--quantidade {
    background-color: var(--grey-1);
}

.carrinho__div__valor--total {
    background-color: transparent;
}

.productsSection {
    padding-top: 150px;
    width: 100%;
}

.products__section__container {}

.filters {
    height: 65px;
    display: flex;
    overflow-y: hidden;
    overflow-x: visible;
    flex-direction: row;
    padding-bottom: 25px;
}

#filters--button_1 {
    width: 60px;
    height: 30px;
    min-width: 60px;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 20px;
    border: 1px black solid;
    background-color: var(--Product-1);
}

#filters--button_1:hover {
    outline: 1px solid black;
}

#filters--button_2 {
    width: 130px;
    height: 30px;
    min-width: 130px;
    cursor: pointer;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-around;
    border-style: none;
    border-radius: 20px;
    background-color: var(--Product-2);
}

#filters--button_2:hover {
    border: 1px solid black;
}

#filters--button_3 {
    width: 90px;
    height: 30px;
    min-width: 90px;
    margin-left: 20px;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--Product-3);
}

#filters--button_3:hover {
    border: 1px solid black;
}

#filters--button_4 {
    font-size: --;
    height: 30px;
    width: 100px;
    min-width: 100px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    border-style: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--Product-4);
}

#filters--button_4:hover {
    border: 1px solid black;
}

.productList {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: visible;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    width: 280px;
    display: flex;
    margin-right: 40px;
    margin-bottom: 15px;
    flex-direction: column;
}

.product--head {
    position: relative;
    padding-bottom: 30px;
}

.product--figure {
    width: 290px;
    height: 197px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--color-primary-50);
}

.product--figure:hover {
    background-color: var(--color-primary);
}

.product--img {
    width: 280px;
    height: 187px;
    margin: auto auto;
    object-fit: cover;
    border-radius: 6px;
}

.product--section {
    left: 15px;
    bottom: 18px;
    position: absolute;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 15px 5px 15px;
    font-size: var(--12px-size);
    background-color: var(--color-primary-50);
}

.product--title {
    font-weight: bolder;
    padding-bottom: 20px;
}

.product--description {
    color: var(--Grey-3);
    font-size: var(--10px-size);
    line-height: 16px;
}

.product--footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.product--price {
    text-align: center;
    color: var(--Grey-4);
    font-size: var(--10px-size);
    font-weight: var(--Bold-weight);
}

.product--description {
    height: 48px;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product--addToCart {
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 100%;
    align-self: flex-end;
    background-color: var(--color-secondary-50);
}

.product--addToCart img {
    width: 10px;
    height: 10px;
}

@media (min-width: 420px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
}

.hidden {
    display: none;
}