:root {
    --vermelho: #FF2253;
    --grey-1: #F8F9FA;
    --grey-2: #E9ECEF;
    --grey-3: #868E96;
    --grey-4: #212529;

    /* Colors */
    /* Primary Palette */
    --color-primary: #ff2253;
    --color-primary-50: #ffe9ee;
    --color-secondary: #4aca94;
    --color-secondary-50: #e4f7ef;
    /* Product Palette */
    --Product-1: #eef6ff;
    --Product-2: #fff7f4;
    --Product-3: #ffe4ea;
    --Product-4: #f3eef5;
    /* Grey Scale Pallete */
    --Grey-4: #212529;
    --Grey-3: #868e96;
    --Grey-2: #e9ecef;
    --Grey-1: #f8f9fa;

    /* Font */
    --Poppins: "Poppins", sans-serif;
    
    --16px-size: 16px;
    --14px-size: 14px;
    --12px-size: 12px;
    --10px-size: 10px;

    --Bold-weight: bold;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--Poppins);
}

header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 10px;
}
.full__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    min-width: 300px;
    width: 90%;
}

.header__container{
    position: relative;
    width: 100%;
}

.container--barraPesquisaProduto{
    width: 300px;
    background-color: #F8F9FA;
    border: #F8F9FA;
    color: #868E96;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.barraPesquisaProduto{
    background-color: transparent;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 14px;
}
.barraPesquisaProduto:focus{
    border: none;
    padding: none;
}

.searchBtn{
    background-color: #FFE9EE;
    border: #FFE9EE;
    width: 45px;
    height: 45px;
    border-radius: 20px;
}

.fa-search{
    color: #FF2253;
}

.logo-container{
    margin-bottom: 10px;
}
.logo-container img{
    width: 50px;
}

.logoTxt{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#kenzie{
    font-size: 22px;
}

#food{
    font-size: 16px;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.carrinho {
    width: 300px;
}

.carrinho__div__titulo {
    background-color: var(--vermelho);
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 22px;
}

.carrinho__div__titulo img {
    height: 20px;
}

.carrinho__div__titulo h2 {
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-left: 20px;
}

.carrinho__div__produtos {
    height: 400px;
    margin-top: 6px;
    overflow-y: visible;
    overflow-x: hidden;
}

.carrinho__div__carrinho__vazio {
    height: 100%;
    width: 100%;
    color: var(--grey-3);
    background-color: var(--grey-1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.carrinho__div__carrinho__vazio span {
    font-weight: bold;
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.carrinho__div__carrinho__vazio p {
    width: 200px;
    font-size: 15px;
}

.produto__card__carrinho {
    display: flex;
    padding: 18px 10px;
}

.produto__card__carrinho img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.produto__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-left: 12px;
}

.produto__card__info h2 {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    font-size: 16px;
}

.produto__card__info span {
    font-size: 12px;
    color: var(--grey-3)
}

.produto__card__carrinho button {
    background-color: var(--grey-1);
    margin-left: 18px;
    width: 26px;
    height: 26px;
    border-radius: 5px;
}

.produto__card__carrinho button img {
    width: 10px;
    height: 12px;
}

.carrinho__div__valor {
    height: 20px;
    padding: 30px 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrinho__div__valor--quantidade {
    background-color: var(--grey-1);
}

.carrinho__div__valor--total {
    background-color: transparent;
}


.productsSection {
    padding-top: 150px;
    width: 100%;
}

.products__section__container{
}

.filters {
    display: flex;
    overflow-y: hidden;
    overflow-x: visible;
    padding-bottom: 25px;
    flex-direction: row;
}

#filters--button_1 {
    width: 60px;
    min-width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    border-radius: 20px;
    /*border: 1px black solid;*/
    background-color: var(--Product-1);
}

#filters--button_1:focus {
    border: none;
}

#filters--button_2 {
    width: 130px;
    min-width: 130px;
    height: 30px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-around;
    border-style: none;
    border-radius: 20px;
    background-color: var(--Product-2);
}

#filters--button_2:focus {
    border: none;
}

#filters--button_3 {
    width: 90px;
    min-width: 90px;
    height: 30px;
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-around;
    border-style: none;
    border-radius: 20px;
    background-color: var(--Product-3);
}

#filters--button_3:focus {
    border: none;
}

#filters--button_4 {
    font-size: --;
    width: 100px;
    min-width: 100px;
    height: 30px;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-around;
    border-style: none;
    border-radius: 20px;
    background-color: var(--Product-4);
}

#filters--button_4:focus {
    border: none;
}

.productList {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: visible;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    width: 280px;
    display: flex;
    margin-right: 40px;
    margin-bottom: 15px;
    flex-direction: column;
}

.product--head {
    position: relative;
    padding-bottom: 30px;
}

.product--figure {
    background-color: var(--color-primary-50);
    width: 290px;
    height: 197px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 10px;
}

.product--img {
    width: 280px;
    height: 187px;
    object-fit: cover;
    margin: auto auto;
    border-radius: 6px;
}

.product--section {
    left: 15px;
    bottom: 18px;
    position: absolute;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 15px 5px 15px;
    font-size: var(--12px-size);
    background-color: var(--color-primary-50);
}

.product--title {
    font-weight: bolder;
    padding-bottom: 20px;
}

.product--description {
    color: var(--Grey-3);
    font-size: var(--10px-size);
    line-height: 16px;
}

.product--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.product--price {
    text-align: center;
    color: var(--Grey-4);
    font-size: var(--10px-size);
    font-weight: var(--Bold-weight);
}

.product--description {
    height: 48px;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.product--addToCart {
    width: 30px;
    height: 30px;
    border-style: none;
    border-radius: 100%;
    background-color: var(--color-secondary-50);
    align-self: flex-end;
}
.product--addToCart img{
    width: 10px;
    height: 10px;
}

@media (min-width: 420px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {

    /* big landscape tablets, laptops, and desktops */
    
}

.hidden {
    display: none;
}